telegram:
  maxIteration: 3
  botToken: ""
  userIds:
    - 1 

web-info:
  host: "https://kr.investing.com"
  watchlist-path: "/portfolio/?portfolioID=ID" # Change ID
  email: ""
  password: ""

db:
  path: ./app/_database